body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* vh = viewport height so 100vh = 100% of screen */
}

header{
    order: 1;
    background-color: #a9a9a9;
    width: 100%;
}

main{
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(170deg, #ffffff, #f0f0f0);
}

footer{
    order: 3;
    background-color: #696969;
    width: 100%;
}

.event{
    padding: 20px;
    background-color: #e6e6e6;
    border: solid #b9b9b9 2px;
    border-radius : 25px;
    width: 80%;
    
}

#eventContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    width: 80%;
    border: #696969 2px solid;
    border-radius: 25px;
    padding-top: 20;
    padding-bottom: 20px;
}